.view-viewview.light-header .main.bar {
  position: absolute;
  z-index: 1;
  width: 100%;
}
//Gradient styles for web report
.light-header .gradient {
  background: linear-gradient(
    0deg,
    #ffffff,
    rgba(255, 255, 255, 0.9) 30%,
    rgba(46, 82, 114, 0.7) 70%,
    rgba(14, 21, 26, 0.8) 100%
  ) !important;
}

.ui.block.title .eea.banner .content {
  padding-right: 1rem;
  padding-left: 1rem;
}

.share-popup {
  .actions {
    display: flex;
    flex-flow: row;
  }
}
