.view-viewview.light-header .main.bar {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-bottom: -160px;
}
//Gradient styles for web report
.light-header .gradient {
  background: linear-gradient(
    0deg,
    #ffffff,
    rgba(255, 255, 255, 0.9) 30%,
    rgba(46, 82, 114, 0.7) 70%,
    rgba(14, 21, 26, 0.8) 100%
  ) !important;
}

.hero-header .gradient,
.contenttype-web_report .gradient {
  background: linear-gradient(
    0deg,
    #fff,
    rgba(255, 255, 255, 0.8) 30%,
    rgba(31, 31, 31, 0.1) 50%,
    rgba(58, 58, 58, 0.8) 100%
  ) !important;
}

.ui.block.title .eea.banner .content {
  padding-right: 1rem;
  padding-left: 1rem;
}

.share-popup {
  .actions {
    display: flex;
    flex-flow: row;
  }
}
