.image-block {
  position: relative;
  z-index: 4;
  width: unset !important;
}

.copyright-image-block {
  position: absolute;
  z-index: 1000;
  top: 95%;
  width: 100%;
}

#copyright-hovering-text-inactive-right {
  display: none;
}

#copyright-hovering-text-inactive-left {
  display: none;
}

#copyright-hovering-text-active-right {
  display: block;
  position: absolute;
  top: 12px;
  background: grey;
  padding: 3px;
  border-radius: 3px;
  right: 5px;
  animation: slideout 0.5s;
}

#copyright-hovering-text-active-left {
  display: block;
  position: absolute;
  top: 12px;
  background: grey;
  padding: 3px;
  border-radius: 3px;
  left: 5px;
  animation: slideout 0.5s;
}


#copyright-icon-hoverable {
  position: relative;
}
