.image-block {
  position: relative;
}

.copyright-image.right {
  right: 0rem;
}

.copyright-image.left {
  left: 0rem;
}

.block.image.align.right {
  .copyright-image.right {
    left: 0;
  }

  .copyright-image.left {
    left: 1rem;
  }
}

.block.image.align.left {
  .copyright-image.left {
    right: 0;
  }

  .copyright-image.right {
    right: 1rem;
  }
}

.copyright-image {
  position: absolute;
  z-index: 1000;
  bottom: 2rem;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.block.image.align.right {
  display: block;

  img {
    max-width: 100% !important;
    margin-left: 0 !important;
    float: none !important;
  }
}

.block.image.align.left {
  display: block;

  img {
    max-width: 100% !important;
    float: none !important;
  }
}

.image-block-container {
  position: relative;
  max-width: 100%;
}

.image-block-container.left {
  max-width: 50%;
  padding-right: 1rem;
  float: left;

  .copyright-hover-container {
    width: 92%;
  }

  .copyright-image {
    bottom: 2.6em;
  }
}

.image-block-container.right {
  max-width: 50%;
  padding-left: 1rem;
  float: right;

  .copyright-hover-container {
    width: 92%;
  }

  .copyright-image {
    bottom: 2.6em;
  }
}

.copyright-hover-container {
  position: absolute;
  z-index: 1000;
  bottom: 0rem;
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 5px;
  background-color: grey;
  border-radius: 3px;
  opacity: 0.8;
}
