.image-block {
  position: relative;
}

.copyright-image {
  position: absolute;
  z-index: 1000;
  top: 90%;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.block.align.left {
  margin-right: 1em;
  margin-left: 0;
  float: left;
}

.block.align.right {
  margin-left: 1em;
  margin-right: 0;
  float: right;
}
