.flex-blocks-form {
  .item-wrapper {
    position: relative;
    width: 100%;
  }

  .ui.items.flex-items-wrapper.items-2-columns > * {
    width: 49%;
  }

  .ui.items.flex-items-wrapper.items-3-columns > * {
    width: 33%;
  }

  .ui.items.flex-items-wrapper.items-4-columns > * {
    width: 25%;
  }

  .ui.items.row > * {
    margin: 2rem 0;
  }

  .ui.items.flex-items-wrapper > * {
    display: flex;
    min-height: 0px;
    padding: 0em;
    border: none;
    background: transparent;
    border-radius: 0rem;
    box-shadow: none;
    transition: box-shadow 0.1s ease;
  }
}
