.flex-blocks-form {
  .item-wrapper {
    position: relative;
    width: 100%;
  }

  .ui.items.flex-items-wrapper.items-2-columns > .item {
    width: 49%;
  }

  .ui.items.flex-items-wrapper.items-3-columns > .item {
    width: 33%;
  }

  .ui.items.flex-items-wrapper.items-4-columns > .item {
    width: 25%;
  }

  //override item block image width
  .ui.items.flex-items-wrapper > .item > .image:not(.ui) {
    width: 100%;
  }
}
