/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site        : 'eea';
@reset       : 'eea';

/* Elements */
@button      : 'eea';
@container   : 'eea';
@divider     : 'eea';
@flag        : 'eea';
@header      : 'eea';
@icon        : 'eea';
@image       : 'eea';
@input       : 'eea';
@label       : 'eea';
@list        : 'eea';
@loader      : 'eea';
@placeholder : 'eea';
@rail        : 'eea';
@reveal      : 'eea';
@segment     : 'eea';
@step        : 'eea';

/* Collections */
@breadcrumb  : 'eea';
@form        : 'eea';
@grid        : 'eea';
@menu        : 'eea';
@message     : 'eea';
@table       : 'eea';

/* Modules */
@accordion   : 'eea';
@checkbox    : 'eea';
@dimmer      : 'eea';
@dropdown    : 'eea';
@embed       : 'eea';
@modal       : 'eea';
@nag         : 'eea';
@popup       : 'eea';
@progress    : 'eea';
@rating      : 'eea';
@search      : 'eea';
@shape       : 'eea';
@sidebar     : 'eea';
@sticky      : 'eea';
@tab         : 'eea';
@transition  : 'eea';

/* Views */
@ad          : 'eea';
@card        : 'eea';
@comment     : 'eea';
@feed        : 'eea';
@item        : 'eea';
@statistic   : 'eea';

/* Extras */
@main        : 'eea';
@custom      : 'eea';
/* EEA Design system custom components */
@blockquote       : 'eea';
@pullquote        : 'eea';
@banner           : 'eea';
@timeline         : 'eea';
@footer           : 'eea';
@header           : 'eea';
@tag              : 'eea';
@tags             : 'eea';
@tagList          : 'eea';
@inpageNavigation : 'eea';
@avatar           : 'eea';
@divider          : 'eea';
@testimonial      : 'eea';
@avatarGrid       : 'eea';
@keyContent       : 'eea';
@publicationCard  : 'eea';
@contentBox       : 'eea';
@reverseCardGrid  : 'eea';
@relatedContent   : 'eea';
@share            : 'eea';
@faqContent       : 'eea';
@reportCard       : 'eea';
@faqFilter        : 'eea';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder: '~volto-themes';

/* Path to site override folder */
@siteFolder: '~@eeacms/volto-eea-website-theme/../theme';

/*******************************
         Import Theme
*******************************/
@import (multiple) "~eea-volto-theme-folder/theme.less";

@fontPath: "~volto-themes/default/assets/fonts";

.loadAddonOverrides() {
  @import (optional) "@{siteFolder}/@{addon}/@{addontype}s/@{addonelement}.overrides";
}


/* End Config */
