#download-print-loader {
  position: fixed;
  left: 40%;
  right: 40%;
  background-color: #fff;
  padding: 1em;
  flex-direction: column;
  display: flex;
  align-items: center;
  top: 40%;
  z-index: 9999;
}
